<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="boDi" type="BoDi.BoDiConfigurationSection, BoDi"/>
    <section name="testSection" type="BoDi.Tests.TestConfigSection, BoDi.Tests"/>
  </configSections>

  <boDi>
    <register type="BoDi.Tests.VerySimpleClass, BoDi.Tests" as="BoDi.Tests.IInterface1, BoDi.Tests"/>
  </boDi>

  <testSection>
    <dependencies>
      <register type="BoDi.Tests.VerySimpleClass, BoDi.Tests" as="BoDi.Tests.IInterface1, BoDi.Tests"/>
    </dependencies>
  </testSection>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
