<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="miniDi" type="MiniDi.ConfigurationSectionHandler, MiniDi"/>
    <section name="testSection" type="MiniDi.Tests.TestConfigSection, MiniDi.Tests"/>
  </configSections>

  <miniDi>
    <register type="MiniDi.Tests.VerySimpleClass, MiniDi.Tests" as="MiniDi.Tests.IInterface1, MiniDi.Tests"/>
  </miniDi>

  <testSection>
    <dependencies>
      <register type="MiniDi.Tests.VerySimpleClass, MiniDi.Tests" as="MiniDi.Tests.IInterface1, MiniDi.Tests"/>
    </dependencies>
  </testSection>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
